*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root {
    --transition: transfotm .475s cubic-bezier(0.75, 0.5, 0, 1); 
}

@font-face {
    font-family: Montserrat, sans-serif;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;

}
.main-header {
    position: relative;
}

.layers {
    height: 200vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center; 
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute; 
    background-size: cover;
    background-position: center; 
    will-change: transform;
}
.layears__header{
    z-index: 1;
    font-size: 50px;
    font-weight: 800;
    margin-top: 300px;
    transition: var(--transition);
}
.layears__base {
    transform: translate3d(0,calc(var(--scrollTop)/2),0);
    transition: var(--transition);
    border-color: black;
    border-style:solid;

}

.layears__middle{
    transform: translate3d(0,calc(var(--scrollTop)/4),0);
    height: 90%;
    transition: var(--transition);
    margin-top: 85px;
}
.layears__front{
    margin-top: 20px;
}

